name: "Drift Check"

on:
#  schedule:
#    - cron: '*/15 * * * *'
 workflow_dispatch:

jobs:
  drift-check:
    secrets:
      tfc_token: ${{ secrets.TFC_TOKEN }}
    uses: G-Research/github-terraformer/.github/workflows/drift-check.yaml@apply-from-plan-file
    with:
      gcss_ref: apply-from-plan-file
      tfc_org: "GR-OSS"